.navbar-wrapper{
    padding: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.navbar-wrapper a{
    font-size: 1.5rem;
    color: var(--color-white);
}

.menu-btn{
    color: white;
    width: 2rem;
    height: 2rem;
    display: none;
    cursor: pointer;
}

.menu-btn:hover,
.navbar-link:hover{
    color:var(--color-gray);
}

.navbar-menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    padding: 2rem;
    position: absolute;
    top: 3rem;
    right: 1rem;
    background-color: var(--color-gray);
    opacity: 0.4;
    border-radius: 10px;
}

.navbar-menu a:hover{
    color: var(--color-black);
}


@media screen and (max-width:1440px) {
    .navbar-wrapper a{
        font-size: 1.2rem;
    }
}

@media screen and (max-width:1024px) {
    .navbar-wrapper a{
        font-size: 1rem;
    }
}

@media screen and (max-width:768px) {

    .navbar-wrapper{
        padding: 1rem;
    }

    .menu-btn{
        display: block;
    }


    .navbar-link{
        display: none;
    }
}



