.logos-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
}

.logos-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    border-top: 2px solid var(--color-white);
    border-bottom: 2px solid var(--color-white);
    padding: 2rem 0;
}


@media screen and (max-width:768px) {
    .logos-section{
        align-items: center;
        padding: 1rem 2rem;
    }
}