.App{
  display: grid;
  grid-template-columns: 7% 93%;
  height: 100%;
}

.sidebar{
  background-color: var(--color-gray);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}


.moving-text{
  color: rgba(255, 255, 255, 0.40);
  font-weight: 500;
  font-size: 1.5rem;
  opacity: 0;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
  animation: moveText 12s infinite linear;


}

.moving-text:nth-child(2){
  animation-delay: 2s;
}
.moving-text:nth-child(3){
  animation-delay: 4s;
}
.moving-text:nth-child(4){
  animation-delay: 6s;
}
.moving-text:nth-child(5){
  animation-delay: 8s;
}
.moving-text:nth-child(6){
  animation-delay: 10s;
}

.show-opacity{
  opacity: 1;
}

.hide-opacity{
  opacity: 0;
}

.custom__button{
  padding: 0.5rem 0.8rem;
  background-color: var(--color-black);
  color: var(--color-lightgray);
  border-radius: 10px;
  border-style: none;
  border: 3px solid var(--color-black);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.custom__button:hover{
  background-color: var(--color-lightgray);
  color: var(--color-black);
}

.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.slide-top {
	-webkit-animation: slide-top 0.6s ease-in-out both;
	        animation: slide-top 0.6s ease-in-out both;
}

 @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
            opacity: 0;
  }

  50% {
      opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
            opacity: 0;
  }

  50% {
      opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
  }
}

@keyframes moveText {
  0%{
    top:100%;
  }
  10%{
    opacity: 1;
  }

  90%{
    opacity: 1;
  }

  100% {
    top:0%;
    opacity: 0;
  }

}



@media screen and (max-width:768px) {
  .App{
    grid-template-columns: 100%;
  }

  .sidebar{
    display: none;
  }

  .custom__button{
    padding: 0.5rem 1rem;
  }

}