@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root{

  --font-base: 'Montserrat', sans-serif;

  --color-gray: #3f3f3f;
  --color-black: #222222;
  --color-white: #ffffff;
  --color-lightgray: #dedede;

}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-base);
  scroll-behavior: smooth;
}


body{
  height: 100%;
  background: var(--color-black);
}

a{
  color: unset;
  text-decoration: none;
  cursor: pointer;
}